.tags {
  width: 100%;
  display: flex;

  align-items: center;

  overflow: hidden;
}

.dropdownIcon {
  display: flex;
  align-items: center;
  pointer-events: none;

  [dir="rtl"] & {
    transform: scaleX(-1);
  }

  svg {
    path:first-child {
      stroke: var(--tag-color);
    }
    path:last-child {
      fill: var(--tag-color);
    }
  }
}

.dropdownText {
  line-height: var(--tag-dropdown-text-line-height);
  display: block;
  pointer-events: none;

  &:not(.removeTagIcon) {
    [dir="rtl"] & {
      margin-right: var(--tag-dropdown-text-margin) !important;
    }
    [dir="ltr"] & {
      margin-left: var(--tag-dropdown-text-margin) !important;
    }
  }
}
